// SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
// SPDX-FileCopyrightText: 2024 Harald Sitter <sitter@kde.org>

// Enable plasma automount via udisks2. This matches behavior found in ubuntu.
// Without this enabling automounts in plasma throws up auth dialogs on login, hardly good UX.

polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.udisks2.filesystem-mount-system" && subject.local && subject.active) {
        return polkit.Result.YES;
    }
});
