# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: none
/image/
/version
/*.raw
/*.tar
/*.efi
/pacman-cache/
/systemdOS_*/
/kde-builder/
/.secure_files/
/upload-vacuum/upload-vacuum
/upload-vacuum/vendor/
/btrfs-cleanup/target/

mkosi.local.conf

kde-linux_*
/mkosi.sandbox/etc/pacman.conf
