# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: none
/image/
/version
/*.raw
/*.tar
/*.efi
/pacman-cache/
/systemdOS_*/
/kde-builder/
/.secure_files/
/upload-vacuum/upload-vacuum
/upload-vacuum/vendor/
/btrfs-cleanup/target/
/btrfs-migrator/target/

/mkosi.extra/usr/bin/_kde-linux-btrfs-migrator
/mkosi.extra/usr/lib/etc-factory
/mkosi.extra/usr/lib/kde-linux-sysupdated
/mkosi.extra/usr/lib/kde-linux-sysupdated-redirector
/mkosi.extra/usr/lib/systemd/system/etc-factory.service
/mkosi.extra/usr/lib/systemd/system/kde-linux-sysupdated.service
/mkosi.extra/usr/lib/systemd/system/kde-linux-sysupdated.socket

mkosi.local.conf

kde-linux_*
/mkosi.sandbox/etc/pacman.conf
