# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2023 Harald Sitter <sitter@kde.org>

[Unit]
Description=Configuring Root Filesystem
# live has an overlayed /, don't try to fiddle with it
ConditionKernelCommandLine=!kde-linux.live=1

[Service]
ExecStartPre=/usr/bin/btrfs quota enable --simple /system

[Install]
WantedBy=multi-user.target
