# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2025 Harald Sitter <sitter@kde.org>

[Unit]
Description=KDE Linux Service Presets
ConditionPathIsReadWrite=/etc
ConditionNeedsUpdate=|/etc
DefaultDependencies=no
After=local-fs.target
# Make sure the necessary users exist!
After=systemd-sysusers.service
Before=sysinit.target systemd-update-done.service
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemctl preset-all
