# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2024 Harald Sitter <sitter@kde.org>

[Unit]
Description=Check if Userspace is in a Good State
Requires=boot-complete.target display-manager.service user.slice
Conflicts=shutdown.target
Before=shutdown.target systemd-bless-boot.service
Wants=kdeos-bless-boot.path

[Service]
Type=oneshot
ExecStart=/bin/_kdeos-bless-userspace

[Install]
RequiredBy=systemd-bless-boot.service
