# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2024 Harald Sitter <sitter@kde.org>

[Unit]
Description=Overlay Root File System
DefaultDependencies=no
Requires=sysroot.mount
Conflicts=shutdown.target
After=sysroot.mount systemd-repart.service
Before=initrd-root-fs.target initrd-parse-etc.service shutdown.target
AssertPathExists=/etc/initrd-release
# On the live system we let systemd.volatile handle the overlay since we want to discard changes
ConditionKernelCommandLine=!kdeos.live=1
# Make sure the module is loaded
Wants=modprobe@overlay.service
After=modprobe@overlay.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/_kdeos-overlay
