# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2024 Harald Sitter <sitter@kde.org>

[Unit]
Description=Mounting /snap → /var/lib/snapd/snap
Before=snapd.mounts-pre.target
After=var.mount var-lib-snapd.mount snap.mount

[Mount]
What=/snap/
Where=/var/lib/snapd/snap/
Type=none
Options=rbind,nodev,x-gdu.hide,x-gvfs-hide

[Install]
WantedBy=var-lib-snapd.mount
WantedBy=snap.mount
WantedBy=snapd.mounts-pre.target
WantedBy=multi-user.target
